.User-input{
    display: block;
    margin: 20px auto;
    width: 100%;
}
.btn-auth{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}
.auth-form{
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
.auth-link{
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}